<h1 id="wipstories">[WIP] stories</h1>
<ul>
<li>outcomes, outcomes, outcomes</li>
<li>people struggle to detach themselves from the implementation</li>
<li>curse of knowledge</li>
<li>people don't want a drill they want holes</li>
<li>everything is always an mvp</li>
<li>templates but they don't matter so much</li>
<li>what matters is when is it done?</li>
<li>the myth of "technical" stories</li>
<li>story writing is like tdd for your product</li>
<li>red, green, refactor</li>
<li>all the similarities apply</li>
<li>you start with a failing test</li>
<li>you do the simplest thing to make it pass</li>
<li>then you refactor and let good design emerge</li>
<li>you don't start with the solution, you start with the smallest possible mess</li>
<li>small</li>
<li>minimize risk</li>
<li>minimize wip</li>
<li>chore vs. story</li>
<li>if it's not in the backlog it's not work worth doing</li>
<li>find an example </li>
</ul>